body, div {
  margin: 0;
  padding: 0;
  border: 0;
}

div.row {
  list-style: none;
  background: transparent;
  width: 180px;
  height: 180px;
}

div {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 5px solid gray;
  float: left;
  cursor: pointer;
}

/*div:hover {
  background: transparent;
}
*/

.row:after {
  display: block;
  clear: both;
  content: "";
}