html, body, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  color: black;
  background: white;
  font-family: sans-serif;
}

.grid {
  margin: 30px auto;
  width: 200px;
  border: 0px solid black;
}

.grid > li {
  float: left;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  background: lightblue;
  cursor: pointer;
}

.grid > li.snake {
  background: red;
}

/*.grid > li:hover {
  background: yellow;
}*/

.grid > .cleared {
  background: transparent;
}