
div.pile {
  list-style: none;
  background: transparent;
  width: 250px;
  height: 250px;
  border: 5px solid black;
  position: relative;
}

div {
  width: 50px;
  height: 70px;
  background: lightblue;
  border: 5px solid red;
  float: left;
  cursor: pointer;
}

#disc1 {
  width: 140px;
  margin-left: 15px;
}

#disc2 {
  width: 160px;
  margin-left: 10px;
}

#disc3 {
  width: 180px;
  margin-left: 5px;
}

#disc1:hover {
  background: seagreen;
}

#disc2:hover {
  background: plum;
}

#disc3:hover {
  background: saddlebrown;
}

.row:after {
  display: block;
  clear: both;
  content: "";
}